body {
    background-image: linear-gradient(to right bottom, #94d4af59, #9ad6d882, #d6c3d39e, #c5bf9f, #bbbda0), url(harvardstudents.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form {
    position: relative;
    background: linear-gradient(to bottom, #c1c78c, #d0e60c);
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 12px 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover, .form button:active {
    background: #43a047;
}
.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 14px;
}
.form .message a {
    color: #ee2aa3;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.error {
    color: red;
    background-color: rgb(218, 153, 153);
    text-align: center;
    width: 100%;
    padding: 5px 8px;
    margin: 8px 30px;
    margin-left: -2px;
}
